* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  width: 100%;
  background-color: #ffffff;
}
h1 {
  font-size: 50px;
  color: #222;
}
h2 {
  font-size: 46px;
  color: #222;
}
h4 {
  font-size: 20px;
  color: #222;
}
h6 {
  font-weight: 700;
  font-size: 12px;
}
p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}
.section-p1 {
  padding: 40px 80px;
}
.section-m1 {
  margin: 40px 0;
}
.button {
  box-shadow: rgb(165 165 165) 5px 5px 5px 0px inset,
    rgb(255 255 255) -5px -5px 5px 1px inset;
  border: none;
  padding: 8px 12px;
  width: fit-content;
  height: fit-content;
  border-radius: 12px;
  font-weight: 900;
}
.button:hover {
  cursor: pointer;
  transform: scale(110%);
  font-weight: bolder;
}

/* Header section */
#header {
  position: sticky;
  z-index: 1;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px 60px;
  background-color: aliceblue;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
#header a img {
  height: 74px;
}

#header .navbar {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
}

#header .navbar li {
  list-style: none;
  padding: 0 20px;
}

#header .navbar li a {
  text-decoration: none;
  font-size: 20px;
  color: lightslategray;
}

#header .navbar li a.active {
  font-weight: bolder;
  color: red;
}

#header .navbar li a:hover {
  color: red;
}


#burger {
  display: none;
}


/* Hero section */
#hero {
  background: url("assets/back.jpg");
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h1 {
  color: rgb(216, 58, 58);
  font-size: xx-large;
}

/* Feature section */

#feature {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#feature .feature_content {
  margin: 16px 0 0 16px;
  flex-direction: column;
  box-shadow: rgb(165 165 165) 5px 5px 5px 0px inset,
    rgb(255 255 255) -5px -5px 5px 1px inset, rgb(165 165 165) 5px 5px 5px 0px,
    rgb(255 255 255) -5px -5px 5px 1px;
  border-radius: 12px;
  width: 25vh;
  height: 20vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

#feature .feature_content img {
  width: calc(50%);
  margin-top: auto;
}

#feature .feature_content:hover {
  transform: scale(105%);
  cursor: pointer;
  box-shadow: rgb(204, 219, 232) 6px 6px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -6px -6px 6px 1px inset,
    rgb(204, 219, 232) 6px 6px 6px 0px,
    rgba(255, 255, 255, 0.5) -6px -6px 6px 1px;
}

/* Product section */
.products_main {
}

.products_main,
.New_arrival,
.product {
  margin-top: 24px;
  text-align: center;
}

.pro-container {
  display: flex;
  width: fit-content;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-evenly;
}
.pro-container .pro {
  box-shadow: rgb(165 165 165) 0px 0px 5px 1px;
  margin: 24px;
  height: fit-content;
  border-radius: 12px;
}

.pro-container .pro img {
  margin: 16px 16px 0 16px;
  box-shadow: rgb(165 165 165) 0px 0px 5px 3px;
  border-radius: 12px;
  width: 35vh;
}

.pro-container .pro .des {
  padding: 20px;
  text-align: left;
}
.pro-container .pro .des span {
  color: lightslategray;
  font-weight: bolder;
}

.pro-container .pro .star {
  margin-top: 5px;
  font-size: 12px;
  cursor: pointer;
  color: lightslategray;
}

.pro-container .pro .left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pro-container .pro .left a {
  color: lightslategray;
  background-color: rgb(219, 219, 219);
  border-radius: 50px;
  padding: 12px;
}

.pro-container .pro .left a i {
  font-size: 16px;
}
.pro-container .pro:hover {
  transform: scale(105%);
  box-shadow: rgb(165 165 165) 0px 0px 7px 3px;
}
.pro-container .pro #star:hover {
  transform: scale(110%);
}
.pro-container .pro .left a:hover {
  transform: scale(110%);
}

#banner {
  background: url(assets/banner/b2.jpg);
  height: 40vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#banner h4 {
  font-size: x-large;
  color: lightblue;
}

#banner h2 {
  color: rgb(255, 255, 255);
  font-size: 40px;
}

#banner button {
  padding: 8px 12px;
  font-size: 12px;
  margin: 8px 0;
  box-shadow: rgb(165 165 165) 5px 5px 5px 0px inset;
  border: none;
  width: fit-content;
  height: fit-content;
  border-radius: 16px;
  font-weight: 900;
  font-weight: bold;
}

#banner button:hover {
  cursor: pointer;
  transform: scale(110%);
  font-weight: bolder;
  box-shadow: rgb(165 165 165) 6px 6px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -6px -6px 6px 1px inset;
}
#sm-banner {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-weight: bolder;
}
#sm-banner .banner-box {
  background-image: url(assets/banner/b17.jpg);
  /* min-width: 500px; */
  height: 50vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  padding: 30px;
  border-radius: 12px;
  margin-top: 12px;
}

#sm-banner .banner-box2 {
  margin-top: 12px;
  background-image: url(assets/banner/b10.jpg);
}

#sm-banner h2 {
  color: white;
  font-weight: bolder;
}

/* Banner3 section */
#banner3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  flex-wrap: wrap;
}

#banner3 .banner-box {
  background-image: url(assets/banner/b7.jpg);
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
}

#banner3 .banner-box2 {
  background-image: url(assets/banner/b4.jpg);
}

#banner3 .banner-box3 {
  background-image: url(assets/banner/b18.jpg);
}

#banner3 h2 {
  font-size: 32px;
  color: #ffffff;
}
#banner3 h3 {
  color: black;
}

/* NewsLatter Section */

#newslatter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(assets/banner/b14.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}

#newslatter h4 {
  font-size: 22px;
  color: #ffffff;
}

#newslatter p {
  font-size: 16px;
  color: lightslategray;
}

#newslatter span {
  font-size: 22px;
  color: red;
}

#newslatter .form {
  display: flex;
}

#newslatter .form input {
  width: 15rem;
  padding: 8px;
  height: 2.5rem;
  border-radius: 5px 0 0 5px;
  border: none;
  outline: none;
}

#newslatter .form button {
  white-space: nowrap;
  height: 2.5rem;
  border: none;
  width: 6rem;
  background-color: cadetblue;
  border-radius: 0 5px 5px 0;
  padding: 0 16px;
  font-weight: bolder;
}

#newslatter .form button:hover {
  background-color: rgb(91, 99, 107);
}

/* Footer Section */

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 12px;
}

footer .logo {
  width: 74px;
}
footer p {
  margin: 2px;
}

footer .col a {
  color: black;
  font-size: 14px;
  text-decoration: none;
}

footer .col a:hover {
  color: red;
}

/* Media querys */

@media (max-width: 900px) {
  .navbar {
    position: absolute;
    right: 0;
    height: 100vh;
    width: 30%;
    top: 0px;
    background-color: aliceblue;
    margin-top: 95px;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    align-items: flex-start;
    transform: translatex(100%);
    /* transition: transform 0.3s ease-in; */
  }
  body {
    overflow-x: hidden;
    width: 100%;
  }

  #burger {
    display: block;
    cursor: pointer;
  }

  .navbar li {
    margin-bottom: 12px;
  }

  .navbar-active {
    transform: translatex(0%);
  }


  #banner h2{
    font-size: 24px;
  }
}
