* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}
body {
  width: 100%;
  background-color: #ffffff;
}
h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}
h4 {
  font-size: 20px;
  color: #222;
}
h6 {
  font-weight: 700;
  font-size: 12px;
}
p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}
section-p1 {
  padding: 40px 80px;
}
section-m1 {
  margin: 40px 0;
}
.button {
  margin: 8px 0;
  box-shadow: rgb(165 165 165) 5px 5px 5px 0px inset,
    rgb(255 255 255) -5px -5px 5px 1px inset;
  border: none;
  padding: 8px 12px;
  width: fit-content;
  height: fit-content;
  border-radius: 12px;
  font-weight: 900;
}
.button:hover {
  cursor: pointer;
  transform: scale(110%);
  font-weight: bolder;
}

/* Header section */
#header {
  position: sticky;
  z-index: 1;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 60px;
  background-color: aliceblue;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
#header a img {
  height: 74px;
}

#header #navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#header #navbar li {
  list-style: none;
  padding: 0 20px;
}

#header #navbar li a {
  text-decoration: none;
  font-size: 20px;
  color: lightslategray;
}

#header #navbar li a.active {
  font-weight: bolder;
  color: red;
}

#header #navbar li a:hover {
  color: red;
}

/* Hero section */
#hero {
  background: url("assets/back.jpg");
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h1 {
  color: rgb(216, 58, 58);
  font-size: xx-large;
}

/* Feature section */
#feature {
  margin: 12px 0;
}

#feature .fe-box {
  margin: 24px 0;
  display: flex;
  height: 20vh;
  justify-content: center;
  align-items: center;
}

#feature .fe-box .feature_content {
  margin-left: 12px;
  flex-direction: column;
  box-shadow: rgb(165 165 165) 5px 5px 5px 0px inset,
    rgb(255 255 255) -5px -5px 5px 1px inset, rgb(165 165 165) 5px 5px 5px 0px,
    rgb(255 255 255) -5px -5px 5px 1px;
  border-radius: 12px;
  width: 25vh;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#feature .fe-box .feature_content img {
  width: calc(50%);
  display: flex;
  align-items: self-start;
  margin-top: auto;
 }
 #feature .fe-box .feature_content p{
  margin-top: auto;
 }

#feature .fe-box .feature_content .content {
  font-size: larger;
}

#feature .fe-box .feature_content:hover {
  transform: scale(105%);
  cursor: pointer;
  box-shadow: rgb(204, 219, 232) 6px 6px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -6px -6px 6px 1px inset,
    rgb(204, 219, 232) 6px 6px 6px 0px,
    rgba(255, 255, 255, 0.5) -6px -6px 6px 1px;
}

/* Product section */

.products_main,
.New_arrival {
  margin-top: 24px;
  text-align: center;
}

.products {
  margin: 24px;
}
.pro-container {
  display: grid;
  width: fit-content;
  grid-template-columns: auto auto auto auto;
  margin: auto;
}
.pro-container .pro {
  box-shadow: rgb(165 165 165) 0px 0px 5px 1px;
  margin: 24px;
  height: fit-content;
  border-radius: 12px;
}

.pro-container .pro img {
  margin: 16px 16px 0 16px;
  box-shadow: rgb(165 165 165) 0px 0px 5px 3px;
  border-radius: 12px;
  width: 35vh;
}

.pro-container .pro .des {
  padding: 20px;
  text-align: left;
}
.pro-container .pro .des span {
  color: lightslategray;
  font-weight: bolder;
}

.pro-container .pro .star {
  margin-top: 5px;
  font-size: 12px;
  cursor: pointer;
  color: lightslategray;
}

.pro-container .pro .left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pro-container .pro .left a {
  color: lightslategray;
  background-color: rgb(219, 219, 219);
  border-radius: 50px;
  padding: 12px;
}

.pro-container .pro .left a i {
  font-size: 16px;
}
.pro-container .pro:hover {
  transform: scale(105%);
  box-shadow: rgb(165 165 165) 0px 0px 7px 3px;
}
.pro-container .pro #star:hover {
  transform: scale(110%);
}
.pro-container .pro .left a:hover {
  transform: scale(110%);
}

#banner {
  background: url(assets/banner/b2.jpg);
  height: 40vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#banner h4 {
  font-size: x-large;
  color: lightblue;
}

#banner h2 {
  color: rgb(255, 255, 255);
  font-size: 40px;
}

#banner button {
  padding: 8px 12px;
  font-size: 12px;
  margin: 8px 0;
  box-shadow: rgb(165 165 165) 5px 5px 5px 0px inset;
  border: none;
  width: fit-content;
  height: fit-content;
  border-radius: 16px;
  font-weight: 900;
  font-weight: bold;
}

#banner button:hover {
  cursor: pointer;
  transform: scale(110%);
  font-weight: bolder;
  box-shadow: rgb(165 165 165) 6px 6px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -6px -6px 6px 1px inset;
}
#sm-banner {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#sm-banner .banner-box {
  background-image: url(assets/banner/b17.jpg);
  min-width: 500px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  padding: 30px;
  border-radius: 16px;
}
